.main {
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
    padding: 20px;
    border-radius: 20px;
}


.side {
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    padding: 20px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #edeef0;
}

.topnav {
    flex: 40%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.main-img {
    width: 100%;
    max-width: max-content;
}

.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}

.OKO-Icon {
    width: 80px;
    height: 50px;
}

.search {
    left: 1030px;
    padding-top: 5px;
    padding-right: 5px;
}
.img-search-container {
    padding-top:5px;
}
.img-search {
    width: 28px;
    height: 28px;
}

.right-align {
    display: flex;
    justify-content: end;
}

.button-profile{
    padding:5px;
}

.button-logout{
    padding: 5px;
}

.mrgn-center {
    position: center;
}