@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="button-create-article">
    @if (SignInManager.IsSignedIn(User))
    {
        <form method="post" asp-controller="Article" asp-action="Articles">
            <input class="btn btn-primary" type="submit" value="Список статей" />
        </form>
    }
</div>
