@{
    ViewData["Title"] = "Поиск";
}
<head>
    <style>
        i {
            color: #007bff;
            margin-right: 10px;
            font-size: 1.5em;
        }

        input[type="search"] {
            padding: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            font-size: 1em;
            transition: border-color 0.3s;
        }

            input[type="search"]:focus {
                border-color: #007bff;
                outline: none;
            }

            input[type="search"]::placeholder {
                color: #6c757d;
                opacity: 1;
            }
    </style>
</head>
<div class="righ-align">
    <form asp-area="" asp-controller="AccountManager" asp-action="UserList">
        <i class="fa fa-search"></i>
        <input type="search" placeholder="Поиск" name="search">
    </form>
</div>
