@{
    ViewData["Title"] = "Вход/Регистрация";
}

<div class="row">
    <div class="side">
        <div class="center">
            Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
        </div>
        <img class="main-img" src="https://png.klev.club/uploads/posts/2024-05/png-klev-club-c9ew-p-oko-saurona-png-17.png" />
    </div>


    <div class="main">
        блок регистрации
        <div class="main">
            <partial name="Login"/>
            <partial name="Register"/>
        </div>
        блок авторизации
    </div>

</div>